* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    opacity: 0.9;
}

.header-container {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-between;
    margin-left: 10px;
    position: fixed;
    min-height: 69px;
    border-bottom: 1px solid seashell;
}

nav a {
    color: seashell;
}

nav li {
    list-style: none;
    display: inline-flex;
    margin-right: 30px;
    margin-top: 20px;
    
}

.logo {
    height: 50px;
    margin-top: 10px;
}

.container1 {
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
}

.text-block {
    position: absolute;
    width: 1050px;
    bottom: 250px;
    padding: 35px;
    background-color: black;
    text-align: center;
    color: seashell;
}

.mission-pic {
    height: 700px;
    width: 1200px;
    margin-top: 100px; 
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    opacity: .7;
}

.container-header {
    text-align: center;
    color: seashell;
    border: 1px solid red;
    padding: 20px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    border: 1px solid green;
}

.card {
    background: white;
    width: 220px;
    height: 400px;
    margin: 20px;
    color: black;
    border: 1px solid yellow;
}

.card-image {
    background-color: aqua;
    height: 150px;
    margin-bottom: 10px;
    border: 1px solid red;

}

